@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: black; }

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.border-gradient {
  border: 2px solid transparent;
  padding: .5rem;
  border-radius: 100px !important;
  border-image-source: linear-gradient(to right, red 0%, blue 100%); 
  border-image-slice: 5;
  /* Shorthand */
  /* border-image: 
      linear-gradient(to right, red 0%, blue 100%) 1;
  */
}
